:root {
  --ifm-color-primary: #1e3a5f;
  --ifm-color-primary-dark: #1a3454;
  --ifm-color-primary-darker: #18314f;
  --ifm-color-primary-darkest: #142841;
  --ifm-color-primary-light: #22406a;
  --ifm-color-primary-lighter: #24436f;
  --ifm-color-primary-lightest: #2a4d7d;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #4a90d9;
  --ifm-color-primary-dark: #3582d4;
  --ifm-color-primary-darker: #2d7bd0;
  --ifm-color-primary-darkest: #2566ac;
  --ifm-color-primary-light: #5f9ede;
  --ifm-color-primary-lighter: #67a4e0;
  --ifm-color-primary-lightest: #8cbbe8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
